<%- include('./parts/html-head') %> 
<%- include('./parts/navbar') %> 
<div class="container">
    <h2>Hi, <%= name %> </h2>
</div>
<%- include('./parts/script') %> 
<%- include('./parts/html-foot') %> 